
<div class="center jumbotron">
	<%= link_to image_tag("blof_logo.gif", alt: "Blog logo", width: 100, height:100, align:"left"), root_path %>
    <h1> Welcome to Bloggers App </h1>
    <h2>
      This is the home page for Bloggers.
    </h2>
    <%= link_to ("Sign up now!"), new_user_path, class:"btn btn-lg btn-primary" %>
    
    <!-- <a href="#" class="btn btn-lg btn-primary">Sign up now!</a> -->
  </div>

  <div class="menu">
  	<ul>
  <li><%= link_to("Home", root_path) %></li>
  <li><%= link_to("All Blogs",blogs_path)%></li>
  <li><%= link_to("All Bloggers", users_path) %></li>
</ul>
  </div>

 
 