<%= provide(:title, "Edit post") %>
<h1>Edit post</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@blog) do |f| %>
 
    <%= f.label :title %>
    <%= f.text_field :title , class: "form-control" %>

    <%= f.label :description %>
    <%= f.text_area :description , class: "form-control"%>

    <div id="butt">
    <%= f.submit "Save changes" ,class: "btn btn-primary" %>
  </div>
    <% end %>
  </div>
</div>